@import "../../theme/mixins";
@import "../../theme/variables";

.map {
  width: $appWidth;
  position: relative;

  .map__image {
    width: $appWidth;
  }

  .map__pin-holder {
    width: $mapWidth;
    height: $mapHeight;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
