<div class="map">
  <img src="assets/img/mock-map.png" alt="" class="map__image" />
  <div class="map__pin-holder" (click)="paintMarker($event)">
    <app-pin
      *ngFor="let pinPosition of pinPositions; let i = index"
      [position]="pinPosition"
    ></app-pin>

    <app-path
      *ngFor="let pathCoordinate of pathCoordinates; let i = index"
      [coordinates]="pathCoordinate"
    ></app-path>
  </div>
  <app-button (buttonClick)="clearFlightPlan()">Clear</app-button>
  <app-button
    (buttonClick)="clearFlightPlan()"
    [type]="'secondary'"
    [disabled]="this.pinPositions.length <= 1"
  >
    Save
  </app-button>
</div>
