@import "../../theme/mixins";
@import "../../theme/variables";

.map-holder {
  width: $appWidth;
  position: relative;

  .map-holder__image {
    width: $appWidth;
    display: block;
  }

  .map-holder__pin-holder {
    width: $mapWidth;
    height: $mapHeight;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .map-holder__controls {
    padding: 10px 15px;
    background: $lightGray;
  }

  .controls__input-name {
    margin: 0 5px 0 15px;
  }
}
