<div class="map-holder">
  <img src="assets/img/mock-map.png" alt="" class="map-holder__image" />
  <div class="map-holder__pin-holder" (click)="paintMarker($event)">
    <app-pin
      *ngFor="let pinPosition of flightPlan.pins; let i = index"
      [position]="pinPosition"
    ></app-pin>
    <app-path
      *ngFor="let pathCoordinate of flightPlan.paths; let i = index"
      [coordinates]="pathCoordinate"
    ></app-path>
  </div>
  <div>
    <input
      type="text"
      placeholder=""
      [(ngModel)]="flightPlan.name"
      [disabled]="!editMode"
    />
  </div>
  <button (click)="clearFlightPlan()">New</button>
  <button
    (click)="saveFlightPlan()"
    [disabled]="
      flightPlan.pins.length <= 1 || flightPlan.name === '' || !editMode
    "
  >
    Save
  </button>
  <app-flight-plans
    (flightPlanClick)="onFlightPlanClick($event)"
  ></app-flight-plans>
</div>
